body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card-image-overlay{
  position: absolute;
  top: 280px;
  color: #fff;
  z-index: 99;
  left: 80px;
}
.card-image-overlay p{
  max-width: 80%;
}
.hero .card{
  position: relative;
}
.hero .card::before{
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #33333350;
  z-index: 1;
}